/* https://www.google.com/search?q=shades+of+red+hex&sxsrf=ALiCzsbk0aZho3S7s6-u9gJeteme_wXcaw%3A1660922097371&ei=8aj_Yr2fFuOz5NoP9bSf-AU&ved=0ahUKEwj92_P8mNP5AhXjGVkFHXXaB18Q4dUDCA4&uact=5&oq=shades+of+red+hex&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgYIABAeEBYyBggAEB4QFjIGCAAQHhAWMgUIABCGAzIFCAAQhgM6BwgAEEcQsAM6BwgAELADEEM6CggAEOQCELADGAE6DwguENQCEMgDELADEEMYAjoICAAQHhAPEBY6BQghEKABOggIIRAeEBYQHToECAAQDToICAAQHhANEAU6BQghEKsCOgoIIRAeEA8QFhAdOgoIABCABBCHAhAUSgQIQRgASgQIRhgBUIoFWM0qYOMraAhwAXgAgAGLAYgB0geSAQM3LjSYAQCgAQHIARPAAQHaAQYIARABGAnaAQYIAhABGAg&sclient=gws-wiz#imgrc=JEm1JV8SR8yIsM */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
    color: white;
    letter-spacing: 1px;
}

img.center {
    width: 300px;
    border-radius: 50%;
    border: 5px solid white;
    opacity: 0.8;
    margin-top: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-size: 30px;
    padding: 20px 30px 30px 30px;
    text-decoration: underline;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding: 20px 30px 0px 30px;
    text-decoration: underline;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
    margin: 20px 50px 5px 50px;
    text-indent: 100px;
    /* border: 5px dashed black; */
    /* width: 500px; */
    overflow-y: scroll;
    height: 335px;
}

ol {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    overflow-y: scroll;
}

li {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
}

div.outerDiv {
    width: 100%;
    height: 100vh;
}

div.innerDivRight, div.innerDivLeft {
    width: 50%;
    margin: 0 auto;
}

div.innerDivLeft {
    float: left;
    background-color: black;
}

div.innerDivRight {
    float: right;
    background-color: red;
}

footer {
    width: 500px;
    margin: 0 auto;
    clear: both;
    padding-top: 20px;
    font-size: 20px;
    padding-left: 280px;
}